<div class="mycontainer ">
<h1> My First</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nobis beatae tempore ex labore, doloremque provident! Nostrum excepturi veritatis ipsam, velit laborum eum quo deleniti minus rerum ea eius ratione.</p>
</div>

<div [ngStyle] = "{'color' : color, ' font-size': fontsize +'px' , 'background-color': backgroundcolor }">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis expedita harum minima. Impedit, ratione, voluptates ad odit minus laudantium magnam quas iure rem facere molestiae ex harum repudiandae at dolorem.</p>
</div>


<div [ngClass] = "{ 'isActive' :isActive ,'inValidate' : Invalidate }" >

   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, illo? </p>


</div>
<app-first-child></app-first-child>