<footer class="footer">
    <div class="footer-container">
      <div class="footer-about">
        <h3>BNT SOFT</h3>
        <p>Building secure and scalable web solutions tailored for your business growth.</p>
      </div>
  
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
            <li> <a routerLink="/dashboard"> Dashboard</a> </li>
            <li> <a routerLink="/first"> First </a> </li>
            <li> <a routerLink="/second"> Second </a> </li>
        </ul>
      </div>
  
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <p>Email: contact@bntsoft.com</p>
        <p>Phone: +91 98765 43210</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 BNT SOFT. All rights reserved.</p>
    </div>
  </footer>
  